.DS_Store
.sass-cache
*~
#*
.#*
TAGS
custom_plan.rb
.classpath
.project
.projectile
.settings
*.iml
.idea
.clover
/newsbeuter/urls
/newsbeuter/history*
configuration.el
/emacs.d/.*
/emacs.d/ac-comphist.dat
/emacs.d/bookmarks
/emacs.d/ede-projects.el
/emacs.d/eshell/
/emacs.d/projectile-bookmarks.eld
/emacs.d/projectile.cache
/emacs.d/semanticdb/
/emacs.d/session.10114bcc51a4a467a3147799139326928400000012820036
/i3/__pycache__/
/newsbeuter/Saved Articles/
/newsbeuter/cache.db*
/newsbeuter/queue
/newsbeuter/urls*
